
@using JersonDiaz.Models


@{
    ViewBag.Title = "Lista de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style type="text/css">
    td.block {
        border: 1px solid black;
    }
</style>


<div class="row">
    <br />
    <div class="col-lg-10"><h3>CL | <small>Listado-Clientes</small></h3></div>
    @*<div class="col-lg-2">Fecha del sistem: <label>@ViewBag.FecSistema</label></div>*@
    <br />
    <div style="width:98%;margin-left:1%;">
        <div class="page-title">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  @Html.ActionLink("ir a la ventana", "Login", "Uni")
                </li>
                <li class="active"> Inicio</li>
            </ol>
        </div>
    </div>
</div>


@using (Html.BeginForm("ListarClientes", "Uni", FormMethod.Post))
{
    <form role="form" class="align-content-center">
        <fieldset style="border-width:0; text-align:center; width:1500px;position:absolute;left:40%;margin-left:-600px;">
            <div style="margin-right:00px;" class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="portlet portlet-default">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4>Listado de Clientes</h4>
                            </div>
                            <div class="portlet-widgets">

                                <a class="btn btn-green btn-xs" href="../Uni/Cliente?tipo=1"><i class="fa fa-file"></i> Nuevo</a>

                                &nbsp;
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive text-nowrap overflow-auto">
                                <div class="form-horizontal scroll-200px div-height-400">
                                    <table class="table table-bordered table-hover table-green-thead table-responsive">
                                        <thead>
                                            <tr>
                                               
                                                <th>IdCliente</th>
                                                <th>Nombre</th>
                                                <th>Direccion</th>
                                                <th>Cedula</th>
                                                <th>Telefono</th>
                                                <th>Editar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var datos in ViewBag.ListaClientes)
                                            {
                                                <tr>
                                                
                                                    <td>@datos.IdCliente</td>
                                                    <td>@datos.Nombre&nbsp;@datos.Apellido</td>
                                                    <td>@datos.Direccion</td>
                                                    <td>@datos.Cedula</td>
                                                    <td>@datos.Telefono</td>
                                                    <td class="text-center">
                                                        <a class="btn btn-default btn-xs" href="../Uni/Cliente?tipo=2&IdCliente=@datos.IdCliente"><i class="fa fa-edit"></i> - Editar</a>
                                                       <a class="btn btn-default btn-xs" href="../Uni/Cliente?tipo=3&IdCliente=@datos.IdCliente"><i class="fa fa-trash"></i> - Eliminar</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </fieldset>
    </form>
}

